@darkPrimaryColor: #ff3c50;
@primaryColor: #f6717d;
@lightPrimaryColor: #fe997b;
@textPrimaryColor: #fafafa;
@accentColor: #ffe1e6;
@primaryTextColor: #505050;
@secondaryTextColor: #767676;
@dividerColor: #eee;
@grey: #fafafa;
@linearColor: linear-gradient(to right, @lightPrimaryColor, @primaryColor);

@rem: 20rem;
@shadow: #e4e4e4 0px 10px 10px -5px;

//页头卡片
.panel(@top) {
  margin: 0 auto 20/@rem;
  background: #ffffff;
  // transform: translateY(@top);
  border-radius: 4px;
  box-shadow: #e4e4e4 0px 10px 10px -5px;
  opacity: 0.99;
}

.header-background(@bottom: 0, @height: auto) {
  margin-bottom:  @bottom;
  box-sizing: border-box;
  width: 200%;
  height: @height;
  padding: 12px 50% 0 50%;
  transform: translateX(-25%);
  border-radius: 0 0 50% 50%;
  background: linear-gradient(
    to right,
    @lightPrimaryColor,
    @lightPrimaryColor 25%,
    @primaryColor 75%,
    @primaryColor
  );
  color: @textPrimaryColor;
  box-shadow: #e4e4e4 0px 10px 10px -5px;
}

.orange-button {
  height: 44px;
  line-height: 42px;
  border-radius: 2px;
  background: @linearColor;
  font-size: 16px;
  color: @textPrimaryColor;
  text-align: center;
  .button-icon {
    font-size: 16px;
  }
}

//账单类型图标
