@darkPrimaryColor:   #ff3c50;
@primaryColor:       #f6717d;
@lightPrimaryColor:  #fe997b;
@textPrimaryColor:   #fafafa;
@accentColor:        #ffe1e6;
@primaryTextColor:   #505050;
@secondaryTextColor: #767676;
@dividerColor:       #e6e6e6;
@grey:               #fafafa;
@linearColor:        linear-gradient(to right, @lightPrimaryColor, @primaryColor);

@rem: 20rem;

//页头卡片
.info-panel(@top){
    margin: @top auto 20/20rem auto;
    background: #ffffff;
    /* transform: translateY(-50%); */
    box-shadow: #e4e4e4 0px 25/@rem 25/@rem -10/@rem;
    opacity: 0.99;
}

.header-background(@height){
    width: 84%;
	height: @height;
	padding: 16/@rem 58% 0 58%;
	display: flex;
	justify-content: space-between;
	transform: translateX(-25%);
	border-radius: 0 0 50% 50%;
	background: linear-gradient(to right, @lightPrimaryColor, @lightPrimaryColor 25%, @primaryColor 75%, @primaryColor);
	color: @textPrimaryColor;
}

//账单类型图标
